:root {
    --font-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --color-primary-100: hsl(171, 34%, 64%);
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-primary-100);
}